# ANALYTICS
GTAG_ID=G-KGJRE4BJYQ
META_PIXEL_ID=1235053088839431
CLARITY_ID=wonrxc0xrb

# WEBHOOKS
MAKE_WEBHOOK_URL=https://hook.us2.make.com/bnm7xedyxhxdlvh417gone7gy5m4e8me

# CONTACT
WHATSAPP_NUMBER=5571981114694
